<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.min.css">
    <title>Document</title>
</head>
<body>
    <div id='app'>
        <div class="header">
            <p>Онлайн расчет стоимости рамки</p>
        </div>
        <div class="baget-block">
            <div v-if="!emptyMode">
                <div v-if="!uploadedImgSrc" class="centred-col">
                    <div class="upload-img" v-on:click="uploadImg()"></div>
                    <div class="description">
                        <p>Загрузите вашу картину или просто заполните параметры <br> вашей будущей рамки</p>
                    </div>
                </div>
                <div v-if="uploadedImgSrc" class="centred-col">
                    <div class="cropp-container">
                        <div class="uploaded-img" v-if="display">
                            <img v-bind:src="uploadedImgSrc" ref="uploadedImg" id="uploadedImg">
                        </div>
                        <img ref="croppedImg" class="croppedImg">
                    </div>
                    <div class="description" v-if="!cropMode">
                        <p>Выделите поле картины и нажмите кнопку «Кадрировать»</p>
                        <div class="btn" v-on:click="crop">Кадрировать</div>
                    </div>
                </div>
            </div>

            <div v-if="emptyMode || cropMode" class="baget-container" :style="{width: bagetWidth + 'px', height: bagetHeight + 'px'}">
                <div class="top" ref="top" :style="{height: borderWidth + 'px', 'background-image': `${horImg}`}"></div>
                <div class="right-container" :style="{width: sideContainerWidth + 'px', height: sideContainerWidth + 'px'}">
                    <div class="right" :style="{width: borderWidth + 'px'}">
                        <div class="after" :style="{'background-image': `${vertImg}`}"></div>
                    </div>  
                </div>
                <div class="bottom" ref="bottom" :style="{height: borderWidth + 'px'}">
                    <div class="after" :style="{'background-image': `${horImg}`}"></div>
                </div>
                <div class="left-container" :style="{width: sideContainerWidth + 'px', height: sideContainerWidth + 'px'}">
                    <div class="left" :style="{width: borderWidth + 'px', 'background-image': `${vertImg}`}"></div>
                </div>
                <img class="cropBaget" ref="cropBaget" id="cropBaget">
            </div>
            <div class="description" v-if="cropMode || (this.startHeight >= 10 && this.startWidth >= 10)">
                <p>Стоимость рамки составит 270 рублей.</p>
                <p>Ширина: {{startWidth}} см, Высота: {{startHeight}} см</p>
                <p>Материал: {{bagetMaterial}}</p>
            </div>
            
            <input type="file" ref="upload" class="hidden" v-on:change="showImg($event)" accept="image/*">
        </div>
        <div class="size-block">
            <div class="size-block_item">
                <p>Ширина картины (см)</p>
                <input type="number" v-on:input="setWidth($event)" v-model="startWidth">
            </div>
            <div class="size-block_item">
                <p>Высота картины (см)</p>
                <input type="number" v-on:input="setHeight($event)" v-model="startHeight">
            </div>
            <div class="size-block_item">
                <p>Материал рамки</p>
                <select v-model="bagetMaterial">
                    <option>Ольха</option>
                    <option>Дуб</option>
                </select>
            </div>
        </div>
        <div class="baget-type-block">
            <div class="baget-type-block_header">
                <p>Онлайн расчет стоимости рамки</p>
            </div>
            <div class="bagets-container">
                <div class="bagets-container_row" ref="bagetContainer" id="bagetContainer">
                    <div 
                        class="bagets-container_item-wrapper"
                        v-for="item in bagetsList"
                    >
                        <div 
                            class="baget-item"
                            @click="selectBaget(item)"
                            
                            v-bind:class="{selected: item.selected}"
                        > 
                            <img :src="item.preview" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="price">
            <p>Рассчитать цену</p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.min.js"></script>
    <!-- prod -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="script.js"></script>

</body>
</html>